*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* --------Header CSS Style Code Started From Here-------- */
.container{
    max-width: 1300px;
    margin: auto;
    padding: 0 35px;
}
.header{
    background: radial-gradient(#fff,#fff);
}
.navbar{
    display: flex;
    align-items: center;
}
nav{
   flex: 1;
   text-align: right;
}
nav ul{
    list-style: none;
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    transition: transform 0.5s;
}
nav ul li:hover{
    transform: translateY(-5px);
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #e0d0ce;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
.btn:hover{
    cursor: pointer;
    background: #563434;
}
/* Header Section Ended Here */
